<h1>E-Commerce Danko</h1>

<section id="productos">
    <div class="product-container">
        <div class="product-card">
            <a href="/api/products/"><h2>Nuestros productos</h2></a>
            <h3>Acceder a los productos listados</h3>
            
        </div>
    </div>
    <div class="product-container">
        <div class="product-card">
            {{!-- <img class="product-thumbnail" src="{{this.thumbnail}}" alt="{{this.title}}"> --}}
            <a href="/api/users/login">
                <h2>Accede a tu cuenta</h2>
            </a>
            <h3>Ingresar a tu cuenta de usuario</h3>
            
        </div>
    </div>
</section>
<script src="/js/product.js"></script>